/*样式初始化,解决不同浏览器的差异*/
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "Courier New", "Arial Narrow", "宋体", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?rretjt');
  src: url('fonts/icomoon.eot?#iefixrretjt') format('embedded-opentype'), url('fonts/icomoon.woff?rretjt') format('woff'), url('fonts/icomoon.ttf?rretjt') format('truetype'), url('fonts/icomoon.svg?rretjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'icomoon';
}
/* 初始化bootstrap样式 */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.verticalMiddle  > div {
  display: inline-block;
  vertical-align: middle;
}
.verticalMiddle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  visibility: hidden;
}
img {
  width: 100%;
  height: auto;
}
.fullArea {
  width: 100%;
  height: 100%;
}
.fixedWidth {
  max-width: 1024px;
  margin: 0 auto;
}
.noMargin {
  margin: 0 !important;
}
.noPadding {
  padding: 0 !important;
}
.bitPadding {
  padding: 4px;
}
.bitMarginBottom {
  margin-bottom: 10px;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.marginTop20 {
  margin-top: 20px;
}
.paddingLeftRight10 {
  padding: 0 10px ;
}
.paddingLeftRight20 {
  padding: 0 20px ;
}
.bitMarginBottom {
  margin-bottom: 8px;
}
.marginTop10 {
  margin-top: 10px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginTop50 {
  margin-top: 50px;
}
.marginLeft10 {
  margin-left: 10px;
}
.marginLeft20 {
  margin-left: 20px;
}
.padding10 {
  padding: 10px !important;
}
.paddingTopBottom10 {
  padding: 10px 0;
}
table {
  width: 100%;
}
table tr {
  width: 100%;
}
table tr td {
  word-break: break-all;
  min-width: 75px;
  padding: 4px;
}
table tr .minWidth {
  min-width: 100px;
}
table tr .max-width {
  max-width: 80px;
}
.col-50 {
  width: 50%;
}
.imgheight-responsive {
  height: 100%;
  width: auto;
}
.fixWidth1080 {
  width: 1080px;
  margin: 0 auto;
}
/** 固定宽度bootstrap menu css start **/
.fixWidth {
  width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
.fixWidth .navbar-header {
  float: left;
}
.fixWidth .navbar-header .navbar-brand {
  padding: 4px;
}
.fixWidth .navbar-header .navbar-brand img {
  height: 100%;
  width: auto;
}
.fixWidth .navbar-nav {
  float: left;
  margin: 0;
}
.fixWidth .navbar-nav li {
  min-width: 120px;
  text-align: center;
  float: left;
}
.fixWidth .navbar-nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.fixWidth .navbar-left {
  float: left !important;
}
.fixWidth .navbar-right {
  float: right !important;
  margin-right: -15px;
}
.fixWidth .navbar-right ~ .navbar-right {
  margin-right: 0;
}
.navCenter {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navCenter li {
  display: table-cell;
  width: 1%;
  list-style: none;
  text-align: center;
}
/** 固定宽度bootstrap menu css end **/
/** leftMenu css  start **/
.leftMenuArea .leftMenu {
  float: left;
  width: 240px;
  border: 1px solid #333;
  height: 400px;
}
.leftMenuArea .leftMenu ul {
  list-style: none;
}
.leftMenuArea .leftMenu ul li {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.leftMenuArea .leftMenu ul li a {
  display: block;
  padding: 20px 0;
}
.leftMenuArea .leftMenu ul .active {
  background-color: #333;
}
.leftMenuArea .leftMenu ul .active a {
  color: white;
}
.leftMenuArea .rightContent {
  margin-left: 240px;
  height: 400px;
  border: 1px solid blue;
}
/** leftMenu css  end **/
/** 表单样式 start **/
.myform-horizontal {
  margin-top: 5px;
  line-height: 30px;
}
.myform-horizontal label {
  font-size: 14px;
  text-align: center;
  min-width: 100px;
  float: left;
  margin: 0;
  line-height: 34px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
}
.myform-horizontal .input {
  margin-left: 100px;
}
.myform-horizontal .input input,
.myform-horizontal .input select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.myform-vertical {
  margin-top: 5px;
}
.myform-vertical label {
  display: block;
  font-size: 14px;
  margin: 0;
  line-height: 34px;
}
.myform-vertical .input input,
.myform-vertical .input select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/** 表单样式 end **/
