@import "common.less";

/**  leftMenu css end **/
html{
  height: 100%;
}
@fontColor:#a27ce6;
body{
  overflow-x: hidden;
  overflow-y: scroll;
  font-family:"Lato", "Lucida Grande",'BlinkMacSystemFont','Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  backgroud-color:white;
  padding-bottom:50px;
  padding-top:10px;
}
.top_navbar{
  padding-top:10px !important;
}
.myHead{
  height: 60px;
  backgroud-color:white !important;
  .logo{
    img{
      width:60px;
    }
  }
}
.gasHeader{
  padding:20px 10px;
  .range{
    input{
      width:100%;
    }
  }
}
.searchArea{
  padding:10px 10px;
}
.addData{
  line-height: 50px;
    padding-left: 20px;
    color: #6f6fb5;
    cursor: pointer;
}
.block{
  display:block;
  width:100%;
}
.dangerArea{
    color: red;
    word-wrap: break-word;
    background: #f1e1e1;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.fadeInput{
  height:42px;
}
.white{
  color:white;
}
.menu{
  .list{
    a{
      color:white;
    }
  }
}
.loadingPage{
  background-color:black;
  .appLoading{
    padding:50px 10px;
    .logo{
      width:100px;
      margin: 0 auto;
      img{
        width:100%;
        height:auto;
      }
    }
  }
  .word{
    padding:20px;
    font-size:30px;
    font-weight:bold;
    color:white;
  }
}
.maxModal{
  max-width:600px;
}
.hide{
    display:none;
}
@tableBorder: #dee2e6;
.complexTable{
  .head{
    padding:10px;
    border-top:1px solid @tableBorder; 
    > div{
      font-size:16px;
      font-weight:bold;
      padding:4px;
    }
  }
  .tBody{
    padding:4px 0px;
    .tItem{
      padding:8px;
      border-top:1px solid @tableBorder;
      .iTitle{
        padding:8px 0px;
      }
      .iBody{
        background-color:black;
        overflow:hidden;
        .borderRadius(10px);
        table{
          color:white;
        }
      }
    }
  }
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.myIconSpin{
    -webkit-animation: icon-spin 2s infinite linear;
    -moz-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
    display:inline-block;
}
.swal-footer{
  text-align:center;
}
.tableStyle{
  width:100%;
  table{
    width:100%;
    tbody{
      width:100%;
      tr{
        width:100%;
        td{

        }
        .longText{
          word-break:break-all;
          overflow-x:scroll;
          max-width:300px;
        }
      }
    }
  }
}
.moreBtn{
  padding:20px;
  font-size:20px;
  color:@fontColor;
  font-weight:bolder;
  cursor:pointer;
  text-align:center;
}




