/*样式初始化,解决不同浏览器的差异*/
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "Courier New", "Arial Narrow", "宋体", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* 初始化bootstrap样式 */
.fullArea {
  width: 100%;
  height: 100%;
}
.displayNone {
  display: none !important;
}
.noMargin {
  margin: 0 !important;
}
.noPadding {
  padding: 0 !important;
}
.bitPadding {
  padding: 4px;
}
.paddingLeftRight10 {
  padding: 0 10px ;
}
.paddingLeftRight20 {
  padding: 0 20px ;
}
.bitMarginBottom {
  margin-bottom: 8px;
}
.marginTop10 {
  margin-top: 10px;
}
.marginTop20 {
  margin-top: 20px;
}
.marginTop50 {
  margin-top: 50px;
}
.marginTop60 {
  margin-top: 50px;
}
.marginLeft10 {
  margin-left: 10px;
}
.marginLeft20 {
  margin-left: 20px;
}
.padding10 {
  padding: 10px;
}
.paddingTopBottom10 {
  padding: 10px 0;
}
.wordWrap {
  word-wrap: break-word !important;
}
.aBlock {
  display: block;
  width: 100%;
  height: 100%;
}
.lineHeight30 {
  line-height: 30px;
}
.lineHeight40 {
  line-height: 40px;
}
.col-50 {
  width: 50%;
}
.imgheight-responsive {
  height: 100%;
  width: auto;
}
.fixWidth1080 {
  width: 1080px;
  margin: 0 auto;
}
/** loading **/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  top: 0;
  left: 0;
}
.loading .pic {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}
.loading .pic .hash {
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #ffeb8a;
  font-size: 10px;
  width: 98%;
  margin-left: 1%;
  word-break: break-word;
}
.loading .pic2 {
  background-color: #181717;
}
.myloader,
.myloader:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.myloader {
  margin: 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lineHeight24 {
  line-height: 24px;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.size16 {
  font-size: 16px;
}
.size20 {
  font-size: 20px;
}
.textIndent {
  text-indent: 2em;
}
.myBtn1 {
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #3291ff;
}
.myBtn1:hover {
  color: white;
}
.myBtn2 {
  background: #3291ff;
  color: white !important;
  font-size: 16px;
  padding: 18px;
  border: 1px solid #333333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.sendBtn {
  background: transparent;
  color: #83879a;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #3291ff;
}
.sendBtn:hover {
  color: #83879a;
}
.dangerBtn {
  background-color: #ff4849;
  color: white;
}
.popup {
  position: fixed;
  z-index: 999999999999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 100px;
}
.popup .pContent {
  width: 250px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  line-height: 30px;
  padding: 10px;
  text-align: center;
}
button[disabled] {
  cursor: not-allowed;
  background-color: #b3afb0 ;
}
.my-input-group {
  margin-bottom: 0;
}
.my-input-group .form-control {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.my-input-group .form-control input {
  border: 0;
}
.my-input-group .mySelect {
  border: 0px;
  background: white;
}
.my-input-group .input-group-append button {
  margin: 0;
}
.my-input-group .bootstrap-select {
  width: 100% !important;
}
.my-input-group .bootstrap-select button {
  border: 0px !important;
}
.form-control {
  word-wrap: break-word;
}
.mycard .body {
  padding-top: 1px;
}
.inline {
  display: inline;
}
.pointer {
  cursor: pointer;
}
.notice {
  font-size: 12px;
  color: red;
}
.textarea textarea {
  width: 100%;
}
.block {
  display: block;
}
.myNotify {
  max-width: 80% !important;
}
.myNotify .message {
  color: black;
  word-wrap: break-word;
}
.myNotify .message a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.copyBtn {
  cursor: pointer;
}
.textArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ece3e3;
  word-break: break-all;
  max-height: 100px;
  overflow: scroll;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inputRadius {
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.input-group .form-control {
  background: transparent !important;
}
.sweet-alert h2 {
  word-wrap: break-word;
}
.myBars {
  margin-top: 9px;
  color: white;
  display: none;
}
@media (max-width: 768px) {
  .myBars {
    display: block;
  }
}
.no-frame {
  overflow: hidden;
}
/**  leftMenu css end **/
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Lato", "Lucida Grande", 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  backgroud-color: white;
  padding-bottom: 50px;
}
.hide {
  opacity: 0;
}
.myHead {
  height: 60px;
  backgroud-color: white !important;
}
.myHead .logo img {
  width: 60px;
}
.gasHeader {
  padding: 20px 10px;
}
.gasHeader .range input {
  width: 100%;
}
.searchArea {
  padding: 10px 10px;
}
.addData {
  line-height: 50px;
  padding-left: 20px;
  color: #6f6fb5;
  cursor: pointer;
}
.block {
  display: block;
  width: 100%;
}
.dangerArea {
  color: red;
  word-wrap: break-word;
  background: #f1e1e1;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}
.fadeInput {
  height: 42px;
}
.white {
  color: white;
}
.menu .list a {
  color: white;
}
.loadingPage {
  background-color: black;
}
.loadingPage .appLoading {
  padding: 50px 10px;
}
.loadingPage .appLoading .logo {
  width: 100px;
  margin: 0 auto;
}
.loadingPage .appLoading .logo img {
  width: 100%;
  height: auto;
}
.loadingPage .word {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
