<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Pchain Wallet">
    <title>PLIAN Wallet</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/angular-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=4.0">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/angular.min.js"></script>
</head>

<body class="theme-purple" ng-app="myApp" ng-controller="myCtrl">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="img/plian.png" width="48" height="48" alt="PLIAN"></div>
                <p>Please wait...</p>
            </div>
        </div>
        <div ng-include="'./head.html'"></div>
        <section class="content">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="body block-header">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h2 class="hidden-sm-down">Welcome To PLIAN Wallet</h2>
                                        <h2 class="hidden-sm-up">PLIAN Wallet</h2>
                                        <ul class="breadcrumb p-l-0 p-b-0 ">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                            <li class="breadcrumb-item active">Full Balance</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="card mycard">
                            <div class="header">
                                <h2><strong>My Account</strong>  <span class="copyBtn" data-clipboard-text="{{account.address}}"> (Copy Your Address <i class="icon icon-copy "  ></i>)</span> </h2>
                            </div>
                            <div class="body">
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">Address</span>
                                    <div class="form-control">
                                        <select class="mySelect" ng-model="account" ng-options="account as account.address  for account in accountList" ng-change="selectAccount()"></select>
                                    </div>
                                </div>
                                <div class="input-group mb-3 my-input-group fadeInput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Balance<i class="icon icon-refresh pointer" ng-class="spin" ng-click="getBalance()"></i></strong></h2>
                            </div>
                            <div class="body">
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">CHAIN</span>
                                    <div class="form-control">
                                        <select class="mySelect" ng-model="chain" ng-options="  chain as chain.name  for chain in chainList" ng-change="getBalance()"></select>
                                    </div>
                                </div>
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">Balance</span>
                                    <div class="form-control">
                                        <div class="value" ng-bind="balance"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row clearfix" ng-show="accountList.length > 0" ng-cloak>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Full Balance</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                   <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable"  ng-cloak>
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,val) in fullBalance" ng-if=" key != 'proxied_detail' && key != 'reward_detail' ">
                                                    <td ><span ng-bind="key" ng-cloak></span></td>
                                                    <td ><span ng-bind="weiToPi(val) + ' PI'" ng-cloak></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Proxied Detail</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row" ng-repeat="(address,detail) in fullBalance.proxied_detail" ng-cloak>
                                   <div class="table-responsive">
                                        <div class="header" ng-bind="address" ng-cloak>

                                        </div>
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable"  ng-cloak>
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,val) in detail" >
                                                    <td ><span ng-bind="key" ng-cloak></span></td>
                                                    <td ><span ng-bind="weiToPi(val) + ' PI'" ng-cloak></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Reward Detail</strong></h2>
                            </div>
                            <div class="body">
                                <div class="row">
                                   <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable"  ng-cloak>
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key,val) in fullBalance.reward_detail" >
                                                    <td ><span ng-bind="key" ng-cloak></span></td>
                                                    <td ><span ng-bind="weiToPi(val) + ' PI'" ng-cloak></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <script type="text/javascript">
    window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="lib/sweetalert/sweetalert-dev.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-notify.js"></script>
    <script src="js/common.js"></script>
    <script src="js/sqlUtil.js"></script>
    <script type="text/javascript" src="pageJs/fullBalance.js"></script>
</body>

</html>
