<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Pchain wallet">
    <title>PLIAN Wallet</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/angular-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css?v=4.0">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/angular.min.js"></script>
</head>

<body class="theme-purple" ng-app="myApp" ng-controller="myCtrl">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="img/plian.png" width="48" height="48" alt="PLIAN"></div>
                <p>Please wait...</p>
            </div>
        </div>
        <div ng-include="'./head.html'"></div>
        <section class="content">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card mycard">
                            <div class="body block-header">
                                <div class="row">
                                    <div class="col-lg-6 col-md-4 col-sm-2 col-2">
                                        <h2 class="hidden-sm-down">Welcome To PLIAN Wallet</h2>
                                        <h2 class="hidden-sm-up">PLIAN Wallet</h2>
                                        <ul class="breadcrumb p-l-0 p-b-0 ">
                                            <li class="breadcrumb-item"><a href="index.html"><i class="icon icon-home"></i></a></li>
                                            <li class="breadcrumb-item active">Wallet</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-8 col-sm-10 col-10 text-right">
                                        <button class="btn btn-primary btn-round btn-simple float-right  m-l-10" data-toggle="modal" data-target="#newAccount">Create Wallet</button>
                                        <button class="btn btn-primary btn-round btn-simple float-right  m-l-10" data-toggle="modal" data-target="#importAccount">Import Private Key</button>
                                        <button class="btn btn-primary btn-round btn-simple float-right  m-l-10" data-toggle="modal" data-target="#exportKeyStore">Export Keystore</button>
                                        <button class="btn btn-primary btn-round btn-simple float-right  m-l-10" data-toggle="modal" data-target="#importKeystore">Import Keystore</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="card mycard">
                            <div class="header">
                                <h2><strong>My Account</strong>  <span class="copyBtn" data-clipboard-text="{{account.address}}"> (Copy Your Address <i class="icon icon-copy "  ></i>)</span>
                                    <span><button ng-click="enterPassword(3)"  class="del-badge del-badge-info radiusBtn customize-btn">Delete</button></span> </h2>
                            </div>
                            <div class="body">
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">Address</span>
                                    <div class="form-control">
                                        <select class="mySelect" ng-model="account" ng-options="account as account.address  for account in accountList" ng-change="getBalance()"></select>
                                    </div>
                                </div>
                                <div class="input-group mb-3 my-input-group">
                                    <div class="col-lg-6 col-md-6">
                                        <button class="btn btn-primary btn-round btn-simple float-left  m-l-10" ng-click="openAccountDetail()">Receive PI</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <button class="btn btn-primary btn-round btn-simple float-right  m-l-10" ng-click="enterPassword(1)">Export Private Key</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Balance <i class="icon icon-refresh pointer" ng-class="spin" ng-click="getBalance()"></i></strong></h2>
                            </div>
                            <div class="body">
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">CHAIN</span>
                                    <div class="form-control">
                                        <select class="mySelect" ng-model="chain" ng-options="  chain as chain.name  for chain in chainList" ng-change="selectChain()"></select>
                                    </div>
                                </div>
                                <div class="input-group mb-3 my-input-group">
                                    <span class="input-group-addon">Balance</span>
                                    <div class="form-control">
                                        <div class="value" ng-bind="balance"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row clearfix" ng-show="accountList.length > 0" ng-cloak>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Cross-chain transfer between Main Chain and Child Chain</strong></h2>
                            </div>
                            <div class="body">
                                <form name="Form" novalidate="" class="row clearfix">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="input-group my-input-group">
                                            <span class="input-group-addon">To Chain</span>
                                            <div class="form-control">
                                                <select class="mySelect" ng-model="crossChain" ng-options="chain as chain.name for chain in chainList2"></select>
                                            </div>
                                            <!--   <select  class="form-control" ng-model="crossChain" ng-options="chain.id as chain.name for chain in chainList2" ></select> -->
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="input-group " ng-class="(Form.toAmount.$invalid && Form.toAmount.$dirty)?'has-danger':( Form.toAmount.$valid?'has-success':'') ">
                                            <span class="input-group-addon">Amount</span>
                                            <input type="text" class="form-control" ng-class="(Form.toAmount.$invalid && Form.toAmount.$dirty)?'form-control-danger':(Form.toAmount.$valid?'form-control-success':'') " name="toAmount" ng-model="toAmount" placeholder={{'max:'+maxSendAmount}} ng-pattern="/^[0-9]+(.[0-9]{1,18})?$/" required>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                                <div class="marginTop20 text-center">
                                    <button class="btn btn-info" ng-disabled="Form.$invalid" ng-click="enterPassword(0)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Latest 10 transaction records</strong>
                                    <button class="btn btn-primary btn-simple float-right del-badge" ng-click="enterPassword(4)">Resend</button></h2>
                            </div>
                            <div class="body">
                                <div class="complexTable" ng-show="txList.length > 0" ng-cloak>
                                    <div class="head row">
                                        <div class="col-md-1 col-lg-1 col-xs-1">
                                            #
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xs-3">
                                            From
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xs-3">
                                            To
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xs-3">
                                            Value
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xs-2">
                                            Operation
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                    <div class="tBody">
                                        <div class="tItem" ng-repeat="item in txList">
                                            <div class="iTitle row">
                                                <div class="col-md-1 col-lg-1 col-xs-1" ng-bind="$index+1">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xs-3" ng-bind="item.fromaddress">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xs-3" ng-bind="item.toaddress">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xs-3" ng-bind="item.value+' PI'">
                                                </div>
                                                <div class="col-md-2 col-lg-2 col-xs-2">
                                                    <button class="btn badge badge-info radiusBtn" ng-click="showTxDetail(item.id,$index)">Detail</button>
                                                </div>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <div class="iBody" ng-show="item.showDetail" ng-cloak>
                                                <div class="table-responsive">
                                                    <table class="table table-filter table-hover m-b-0">
                                                        <tbody>
                                                            <tr>
                                                                <th>Chain</th>
                                                                <th>Account</th>
                                                                <th>Hash</th>
                                                                <th>Operation</th>
                                                            </tr>
                                                            <tr data-status="suspended" ng-repeat="item in item.txChildList">
                                                                <td ng-bind="item.chainName"></td>
                                                                <td ng-bind="item.fromaddress"></td>
                                                                <td ng-bind="cutWords( item.hash)"></td>
                                                                <td ng-if="item.status==1">
                                                                    <a href="{{'index.html?key='+item.hash+'&chain='+item.chainId}}" class="badge badge-info radiusBtn">Detail</a>
                                                                    <button ng-click="checkTx(item)" class="badge badge-info radiusBtn">Check</button>
                                                                </td>
                                                                <td ng-if="item.status==404"><button ng-click="showPasswordArea(item)" class="badge badge-info radiusBtn">Resend</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" ng-show="txList.length == 0" ng-cloak>
                                    <h3>No Records</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- new account -->
        <div class="modal fade" id="newAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-center block">
                            Create Wallet
                    </h4>
                    </div>
                    <div class="modal-body">
                        <form name="newAccount" novalidate>
                            <div class="input-group" ng-class="(newAccount.password.$invalid && newAccount.password.$dirty)?'has-danger':( newAccount.password.$valid?'has-success':'') ">
                                <span class="input-group-addon">Password</span>
                                <input type="password" placeholder="" class="form-control" ng-class="(newAccount.password.$invalid && newAccount.password.$dirty)?'form-control-danger':(newAccount.password.$valid?'form-control-success':'') " name="password" ng-model="password" required>
                            </div>
                            <div class="input-group" ng-class="((password != repeatPassword) && newAccount.repeatPassword.$dirty)?'has-danger':( newAccount.repeatPassword.$valid?'has-success':'') ">
                                <span class="input-group-addon">Repeat Password</span>
                                <input type="password" class="form-control" ng-class="( (password != repeatPassword) && newAccount.repeatPassword.$dirty)?'form-control-danger':((password == repeatPassword)?'form-control-success':'') " name="repeatPassword" ng-model="repeatPassword" required>
                            </div>
                            <div class="alert alert-danger">
                                <i class="icon icon-warning-sign"></i>
                                <strong>Notice:</strong> PLIAN can't recover your password. Please backup cautiously.
                            </div>
                            <div class="marginTop10 text-center">
                                <button type="button" class="btn btn-primary" ng-disabled="newAccount.$invalid || (password != repeatPassword) " ng-click="add()">
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- import account -->
    <div class="modal fade" id="importAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog maxModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                            Import Wallet
                        </h4>
                </div>
                <div class="modal-body">
                    <form name="importAccount" novalidate>
                        <div class="input-group" ng-class="(importAccount.newPrivate.$invalid && importAccount.newPrivate.$dirty)?'has-danger':( importAccount.newPrivate.$valid?'has-success':'') ">
                            <span class="input-group-addon">Private Key</span>
                            <input type="text" class="form-control" ng-class="(importAccount.newPrivate.$invalid && importAccount.newPrivate.$dirty)?'form-control-danger':(importAccount.newPrivate.$valid?'form-control-success':'') " name="newPrivate" ng-model="newPrivate" ng-pattern="/^[a-fA-F0-9]{64}$/" required>
                        </div>
                        <div class="input-group" ng-class="(importAccount.password2.$invalid && importAccount.password2.$dirty)?'has-danger':( importAccount.password2.$valid?'has-success':'') ">
                            <span class="input-group-addon">Password</span>
                            <input type="password" placeholder="" class="form-control" ng-class="(importAccount.password2.$invalid && importAccount.password2.$dirty)?'form-control-danger':(importAccount.password2.$valid?'form-control-success':'') " name="password2" ng-model="password2" required>
                        </div>
                        <div class="input-group" ng-class="((password2 != repeatPassword2) && importAccount.repeatPassword2.$dirty)?'has-danger':( importAccount.repeatPassword2.$valid?'has-success':'') ">
                            <span class="input-group-addon">Repeat Password</span>
                            <input type="password" class="form-control" ng-class="( (password2 != repeatPassword2) && importAccount.repeatPassword2.$dirty)?'form-control-danger':((password2 == repeatPassword2)?'form-control-success':'') " name="repeatPassword2" ng-model="repeatPassword2" required>
                        </div>
                        <div class="alert alert-danger">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="icon icon-warning-sign"></i>
                                </div>
                                <strong>Notice:</strong> PLIAN can't recover your password. Please backup cautiously.
                            </div>
                        </div>
                        <div class="marginTop10 text-center">
                            <button type="button" class="btn btn-primary" ng-disabled="importAccount.$invalid || (password2 != repeatPassword2) " ng-click="importPrivateKey()">
                                Import
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- import keystore -->
    <div class="modal fade" id="importKeystore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog maxModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                            Import Keystore
                        </h4>
                </div>
                <div class="modal-body">
                    <form name="importKeystore" novalidate>
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click="selectKeystore()">Select Keystore File</button>
                        </div>
                        <div class="input-group mb-3 my-input-group marginTop20" ng-show="keystorePath" ng-cloak>
                            <span class="input-group-addon">Keystore Path</span>
                            <div class="form-control">
                                <div class="value" ng-bind="keystorePath"></div>
                            </div>
                        </div>
                        <div class="input-group mb-3 my-input-group" ng-show="keystorePath" ng-cloak>
                            <span class="input-group-addon">Address</span>
                            <div class="form-control">
                                <div class="value" ng-bind=" keystoreJson.address"></div>
                            </div>
                        </div>
                        <div class="input-group" ng-class="(importKeystore.keystorePassword.$invalid && importKeystore.keystorePassword.$dirty)?'has-danger':( importKeystore.keystorePassword.$valid?'has-success':'') " ng-show="keystorePath" ng-cloak>
                            <span class="input-group-addon">Keystore Password</span>
                            <input type="text" class="form-control" ng-class="(importKeystore.keystorePassword.$invalid && importKeystore.keystorePassword.$dirty)?'form-control-danger':(importKeystore.keystorePassword.$valid?'form-control-success':'') " name="keystorePassword" ng-model="keystorePassword" required>
                        </div>
                        <div class="alert alert-danger" ng-show="keystorePath" ng-cloak>
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="icon icon-warning-sign"></i>
                                </div>
                                <strong>Notice:</strong> PLIAN can't recover your password. Please backup cautiously.
                            </div>
                        </div>
                        <div class="marginTop10 text-center" ng-show="keystorePath" ng-cloak>
                            <button type="button" class="btn btn-primary" ng-disabled="importKeystore.$invalid " ng-click="importKeystoreFile()">
                                Import
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- enterPassword -->
    <div class="modal fade" id="enterPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                            Please Enter Password
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="passwordForm" novalidate>
                        <div class="input-group" ng-class="(passwordForm.inputPassword.$invalid && newAccount.inputPassword.$dirty)?'has-danger':( passwordForm.inputPassword.$valid?'has-success':'') ">
                            <span class="input-group-addon">Password</span>
                            <input type="password" placeholder="" class="form-control" ng-class="(passwordForm.inputPassword.$invalid && passwordForm.inputPassword.$dirty)?'form-control-danger':(passwordForm.inputPassword.$valid?'form-control-success':'') " name="inputPassword" ng-model="inputPassword" required>
                        </div>
                        <div class="marginTop10 text-center">
                            <button type="button" class="btn btn-primary" ng-disabled="passwordForm.$invalid " ng-click="confirmPassword()">
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Account Detail -->
    <div class="modal fade" id="accountDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                            Wallet Address
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <span ng-bind="account.address"></span>
                    </div>
                    <div class="marginTop10">
                        <div id='qrcode' class="text-center">
                        </div>
                    </div>
                    <div class="marginTop10 text-center">
                        <button type="button" class="btn btn-primary copyBtn2" data-clipboard-text="{{account.address}}">
                            Copy Wallet Address
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Private key -->
    <div class="modal fade" id="exportPrivateKey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                            Your Private Key
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="dangerArea">
                            <span ng-bind="currentPrivateKey"></span>
                        </div>
                    </div>
                    <div class="marginTop10 text-center">
                        <button type="button" class="btn btn-primary copyBtn3" data-clipboard-text="{{currentPrivateKey}}">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- confirm transaction -->
    <div class="modal fade" id="transaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title block text-center">
                        Cross-Chain Transfer
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Address</span>
                            <div class="form-control" ng-bind="account.address"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">From Chain</span>
                            <div class="form-control" ng-bind="chain.name"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">To Chain</span>
                            <div class="form-control" ng-bind="crossChain.name"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Amount to send</span>
                            <div class="form-control" ng-bind="toAmount+' PI'"></div>
                        </div>
                        <!--               <div class="input-group marginTop10">
                            <span class="input-group-addon">Gas Limit</span>
                            <div class="form-control" ng-bind="gasLimit"></div>
                        </div>

                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Gas Price</span>
                            <div class="form-control" ng-bind="gasPrice+' GWEI'"></div>
                        </div> -->
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Max TX Fee</span>
                            <div class="form-control" ng-bind="txFee+' PI'"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Nonce</span>
                            <div class="form-control" ng-bind="nonce"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="margin:4px auto;" ng-disabled="!nonceFlag" ng-click="sendTx()">
                        Make transaction
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- resend  transaction -->
    <div class="modal fade" id="resendTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title block text-center">
                        Resend Cross-Chain Transaction
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Address</span>
                            <div class="form-control" ng-bind="account.address"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">From Chain</span>
                            <div class="form-control" ng-bind="currentResendSecondTx.fromChainName"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">To Chain</span>
                            <div class="form-control" ng-bind="currentResendSecondTx.chainName"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Amount to send</span>
                            <div class="form-control" ng-bind="currentResendSecondTx.toAmount+' PI'"></div>
                        </div>
                        <div class="input-group marginTop10">
                            <span class="input-group-addon">Nonce</span>
                            <div class="form-control" ng-bind="nonce2"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="margin:4px auto;" ng-disabled="!nonceFlag" ng-click="resendSecondTx()">
                        Resend transaction
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportKeyStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                        Please Enter Password
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="keyPasswordForm" novalidate>
                        <div class="input-group" ng-class="(keyPasswordForm.keystonePassword.$invalid && newAccount.keystonePassword.$dirty)?'has-danger':( keyPasswordForm.keystonePassword.$valid?'has-success':'') ">
                            <span class="input-group-addon">Password</span>
                            <input type="password" placeholder="" class="form-control" ng-class="(keyPasswordForm.keystonePassword.$invalid && keyPasswordForm.keystonePassword.$dirty)?'form-control-danger':(keyPasswordForm.keystonePassword.$valid?'form-control-success':'') " name="keystonePassword" ng-model="keystonePassword" required>
                        </div>
                        <div class="marginTop10 text-center">
                            <button type="button" class="btn btn-primary" ng-disabled="keyPasswordForm.$invalid " ng-click="downloadKeystore()">
                                Download Keystore File(UTC/JSON)
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Private key -->
    <div class="modal fade" id="delAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                        Confirm to delete this account?
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="dangerArea">
                            <span ng-bind="delAddress"></span>
                        </div>
                    </div>
                    <div class="marginTop10 text-center">
                        <button type="button" class="btn btn-primary copyBtn3" ng-click="confirmDelAddress()">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Resend -->
    <div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center block">
                        Resend
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="font-size: 10px; line-height: 1.3;">If you send a cross-chain transaction successfully but not received PI, and there is no this record under the "last 10 transaction records" section on PIwallet, please send the tx hash to op@pchain.org at first. If you are not sure how to get the hash, please click "?". Do not click "resend" before the official email reply, otherwise the resend transaction will fail!</div>
                    <div class="input-group my-input-group marginTop10">
                        <span class="input-group-addon">To Chain</span>
                        <div class="form-control">
                            <select class="mySelect" ng-model="selectedChain" ng-change="changeChain()">
                                <option value="0">Child Chain 1 to Main Chain</option>
                                <option value="1">Main Chain to Child Chain 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" style="flex-direction: row">Hash&nbsp;<i class="icon icon-question pointer help"></i><span style="display: none;" class="help-img">
                            <img ng-if="selectedChain==0" src="./img/wallet/c2m_help.png" style="position: absolute; z-index: 10; width: 400px;">
                            <img ng-if="selectedChain==1" src="./img/wallet/m2c_help.png" style="position: absolute; z-index: 10; width: 400px;">
                        </span></span>
                        <input type="text" class="form-control" name="hash" ng-model="hash" required>
                    </div>
                    <div class="input-group" ng-show="selectedChain==0">
                        <span class="input-group-addon">Amount</span>
                        <input type="text" class="form-control" name="resendAmount" ng-model="resendAmount" ng-pattern="/^[0-9]+(.[0-9]{1,18})?$/" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Nonce</span>
                        <div class="form-control" ng-bind="nonce2"></div>
                    </div>
                    <div class="marginTop10 text-center">
                        <button type="button" class="btn btn-primary copyBtn2" ng-disabled="!nonceFlag" ng-click="confirmResend()">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="lib/sweetalert/sweetalert-dev.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-notify.js"></script>
    <script src="js/ethereumjs-accounts.js"></script>
    <script src="js/common.js"></script>
    <script src="js/sqlUtil.js"></script>
    <script src="js/qrcode.js"></script>
    <script type="text/javascript" src="pageJs/wallet.js"></script>
</body>

</html>
