<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="The Pchain Wallet">
    <title>PCHAIN Wallet</title>
    <link rel="icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/angular-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="../css/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css?v=4.0">
    <link rel="stylesheet" type="text/css" href="../css/page.css">
    <script src="../js/angular.min.js"></script>
</head>

<body class="theme-purple" ng-app="myApp" ng-controller="myCtrl">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="../img/logo.png" width="48" height="48" alt="PCHAIN"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div ng-include="'./headDev.html'"></div>
    <section class="content pageContent">
        <div class="">
            <div class="">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="searchArea">
                                <form name="Form" novalidate>
                                    <div class="input-group marginTop10 my-input-group inputRadius">
                                        <input type="text" class="form-control " name="key" ng-model="key" placeholder="Search by Txhash / Block Number" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-default" ng-disabled="Form.$invalid" type="button" ng-click="search()">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix" ng-show="result.data" ng-cloak>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong > <span ng-bind="result.name"></span> : <span ng-bind="key">  </span> </strong>  </h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-striped table-bordered" ng-show="result.data.hash">
                                <tbody>
                                    <tr ng-show="result.data && result.data.blockNumber == null && type =='tx' ">
                                        <td><code class="w3-codespan">Status</code></td>
                                        <td>Peending</td>
                                    </tr>
                                    <tr ng-repeat="(key,value) in result.data" ng-show="value != null" ng-cloak>
                                        <td><code class="w3-codespan" ng-bind="key"></code></td>
                                        <td ng-bind="processData(value,key)"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="marginTop10 " ng-show="!result.data.hash">
                                <h3>Nothing Found</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
         window.$ = window.jQuery = window.jquery = require('jquery');
    </script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap-select.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/sqlUtilDev.js"></script>
    <script type="text/javascript" src="../pageJs/searchDev.js"></script>
</body>

</html>